@import "tailwindcss";

@layer components {

  .outer-card{
    @apply 
      w-[90%] max-w-[556px] h-auto bg-[#A8DADC] px-[15px] pb-[15px] pt-[30px] rounded-[20px];
  
  }

  .inner-card {
    @apply bg-[linear-gradient(0deg,#45E7EE_0%,#FFFFFF_50%)] flex justify-evenly rounded-[20px] p-2;
  }


 .input-cozy {
  @apply w-full p-2 border-2 rounded-xl bg-white text-black placeholder-transparent transition-all focus:outline-none focus:border-blue-500;
 }

 .label-cozy {
  @apply absolute left-1.5 -top-3 text-sm text-gray-500 bg-white px-1 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-focus:-top-3 peer-focus:text-sm peer-focus:text-blue-600;
 }

}

@layer utilities {
  .text-outline-black {
    text-shadow: 
      1px 1px 0 #000,
      -1px 1px 0 #000,
      1px -1px 0 #000,
      -1px -1px 0 #000;
  }
  .text-outline-black-38 {
    text-shadow:
      1px 1px 0 rgba(0,0,0,0.30),
      -1px 1px 0 rgba(0,0,0,0.30),
      1px -1px 0 rgba(0,0,0,0.30),
      -1px -1px 0 rgba(0,0,0,0.30);
  }
}

@layer base {
  html {
     overflow-y: auto;
     overflow-x: hidden;
     touch-action: manipulation;
  }
}